.back-ground {
    background-color: aliceblue;
}

.size-menu {
    font-size: 25px;
    /*font-style:oblique;*/
    font-weight:bold;
}

.group-name{
    vertical-align:central;
}


.contain-body{
}

.logo{
    margin-left:10%;
}