.img-about-topic {
    height: 100%;
    width: 100%;
}

.custome-link-menu-topic {
    font-size: 25px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 5px #AAA;
    max-height:500px;
    padding-top:30px;
}

.box-content {
    position: relative;
    /*border: 1px solid red;*/
}

.text-description{
    border:1px solid red;
}

.box{
    height:150px;
    margin-bottom:10px;
}