
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <h2>HƯỚNG DẪN</h2>
</div>
<div class="blog-post-item">

    <!-- IMAGE -->
    <figure class="mb-20">
        <img class="img-fluid center-block" src="~/Assets/thanh_phan_he_thong/PM.jpg" alt="">
    </figure>

    <h2><a href="blog-single-default.html">PHẦN MỀM HỖ TRỢ</a></h2>
    <p style="font-size: 150%;">
        Đề tài được hoàn thiện nhờ sự phụ trợ đặc biệt từ 3 phần mềm. Đầu tiên là Tia Portal bản V15, phần mềm này là phần mềm chính nhất, tại đây ta xây dựng hệ thống với các lệnh code và mô phỏng hệ thống với giao diện WinCC.
        Tiếp theo là phần mềm SQL SERVER 2018 dùng để thu thập và lưu trữ dữ liệu cho hệ thống đã tạo của đề tài.
        Và cuối cùng là Visual studio 2017, phần mềm xây dựng một trang web riêng cho đề tài, giúp mọi người có cái nhìn sâu hơn về đề tài của chúng em.<br>
        SAU ĐÂY LÀ LINK HƯỚNG DẪN CÀI ĐẶT CÁC PHẦN MỀM TRÊN
    </p>
    <a style="font-size: 150%;" href="https://www.qthang.net/2019/10/download-tia-v15-v15-1-huong-dan-cai-dat-full-crack.html">TIA PORTAL V15</a><br>
    <a style="font-size: 150%;" href="https://anhnhat.me/2020/04/16/huong-dan-cai-dat-sql-server-2019/?fbclid=IwAR1lmnkK3MTovgc7b0UpGErYO_FeO2bFG-KYhEukWbgzyeMKrjkJV6_ysS0">SQL SERVER 2018</a><br>
    <a style="font-size: 150%;" href="https://phanmemgoc.com/download-visual-studio-2017/">VISUAL STUDIO 2017</a>
    
</div>

<div class="container"></div>
