@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center">
    <h1>NHÓM 10</h1>
    <p class="name-topic">
        MÔ HÌNH HỆ THỐNG VỆ SINH NHÀ MÁY ĐIỆN MẶT TRỜI TỰ ĐỘNG
    </p>
</div>

<!-- About Start -->
<div class="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <video controls style="width:95%;margin-left:10px">
                    <source src="~/Assets/video/trang_chu.mp4" type="video/mp4">                  
                                          
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-4">
                <h2 class="section-title">Tổng quan</h2>
                <p>
                         Môn học SCADA này trang bị cho chúng ta những kiến thức về các khái niệm trong hệ thống thu thập dữ liệu và điều khiển giám sát – SCADA, cấu trúc, các phần tử của hệ thống SCADA nói chung, cách xây dựng giao diện, lập trình và kết nối thiết bị thu thập dữ liệu và điều khiển dựa trên các công cụ SCADA Citect và các công cụ khác.
                    Khái niệm. Cấu trúc. Các phần tử của hệ thống SCADA. Tag. Giao diện đồ họa. Các cơ chế kết nối SCADA với thiết bị thu thập dữ liệu và điều khiển. Alarm và Events. Reports. Trend. Ngôn ngữ lập trình. Giải pháp mạng.

                </p>
                <p>
                         Dưới sự hướng dẫn từ TS. Nguyễn Văn Thái. Nhóm 10 chúng em đã hoàn thành được một dự án scada với đề tài<br />
                    "HỆ THỐNG VỆ SINH NHÀ MÁY ĐIỆN MẶT TRỜI TỰ ĐỘNG"
                    Rất vui vì được thầy và các bạn cùng tìm hiểu thêm về đề tài của nhóm
                </p>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="team">
    <div class="container-fluid">
        <div class="section-header">
            <h2>THÀNH VIÊN</h2>
            <p>Tập thể nhóm 10 chúng em dưới sự hướng dẫn của thầy <br />NGUYỄN VĂN THÁI <br />đã cùng nhau học hỏi, trau dồi và hoàn thiện từng bước đề tài.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 ">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/Assets/img/th.jpg" style="width:220px;height:220px;" alt="Team">
                    </div>
                    <div class="team-text">
                        <h3>Thầy Nguyễn Văn Thái</h3>
                        <p>
                            GIẢNG VIÊN<br />
                            KHOA ĐIỆN-ĐIỆN TỬ
                        </p>
                    </div>
                    <div class="team-social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>

                <div class="col-sm-6 col-lg-3 ">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Assets/img/ch.jpg" style="width:220px;height:220px;" alt="Team">
                        </div>
                        <div class="team-text">
                            <h3>Bùi Thế Chiến</h3>
                            <p>
                                SV nghành NLTT<br />
                                MSSV: 18154005
                            </p>
                        </div>
                        <div class="team-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 ">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Assets/hinh_thanh_vien/duy.jpg" alt="Team">
                        </div>
                        <div class="team-text">
                            <h3>Nguyễn Minh Duy</h3>
                            <p>
                                SV nghành NLTT<br />
                                MSSV: 18154011
                            </p>
                        </div>
                        <div class="team-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 ">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Assets/img/kh.jpg" style="width:220px;height:220px;" alt="Team">
                        </div>
                        <div class="team-text">
                            <h3>Phan Văn Khải</h3>
                            <p>
                                SV nghành NLTT<br />
                                MSSV: 18154027
                            </p>
                        </div>
                        <div class="team-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 ">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Assets/img/ly.jpg" style="width:220px;height:220px;" alt="Team">
                        </div>
                        <div class="team-text">
                            <h3>Nguyễn Thị Thiên Lý</h3>
                            <p>
                                SV nghành NLTT<br />
                                MSSV: 18154033
                            </p>
                        </div>
                        <div class="team-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Team End -->