
@{
    ViewBag.Title = "MoPhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="about">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-md-4">
                <h2 class="section-title">Learn About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                </p>
                <a class="btn" href="">Learn More</a>
            </div>
            <div class="col-md-8">
                <video controls style="width:95%;margin-left:10px">
                    <source src="~/Assets/video/gioi_thieu_he_thong.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
