
@{
    ViewBag.Title = "ThanhPhanHeThong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="section-header">
        <h2>THÀNH PHẦN HỆ THỐNG</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Máy bơm nước Pentax CM50-250A 30HP</h3>
                <img src="~/Assets/thanh_phan_he_thong/bom.jpg" style="width:100%; height:100%;" alt="Service">
                <p>Máy bơm nước Pentax CM50-250A 30HP: tạo động năng và áp xuất cho hệ thống hoạt động</p>
                <a href="https://meta.vn/may-bom-nuoc-pentax-cm50-250a-30hp-p68626?ref=sma-hcm&gclid=CjwKCAiA57D_BRAZEiwAZcfCxcFh088FHSafridgvZy1SsZ7X0G64cxbzpYwo7abg2Hq0FwK-jHDlxoCvmEQAvD_BwE">
                    chi tiết tại đây
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Van an toàn – Safety Valve</h3>
                <img src="~/Assets/thanh_phan_he_thong/van.jpg" style="width:100%; height:100%;" alt="Service">
                <p>Thiết bị này có thể bảo vệ bơm, tránh thất thoát lưu chất trong đường ống, kiểm soát dòng chảy tốt và hiệu quả hơn</p>
                <a href="https://tudonghoadanang.com/news/van-cong-nghiep/#Van_dien_tu_Solenoid_Valve">
                    chi tiết tại đây
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Cảm biến áp xuất</h3>
                <img src="~/Assets/thanh_phan_he_thong/cb_ap.png" style="width:65%; height:70%;" alt="Service">
                <p class="text-left">Bộ cảm biến áp lực nước 0 tới 40 bar và dòng điện từ 4 đến 20mA</p>
                <a href="http://daihoangphatvn.com/t-bi-cong-nghiep/thiet-bi-phu-cong-nghiep/cam-bien-ap-suat-nuoc-duong-ong.html">
                    chi tiết tại đây
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Cảm biến độ bụi</h3>
                <img src="~/Assets/thanh_phan_he_thong/cb_bui.jpg" style="width:55%; height:65%;" alt="Service">
                <p class="text-left">Thiết bị đo và giám sát độ bụi PM2.5+PM10 đo bằng nguyên lý tán xạ ánh sáng laser sử dụng để giám sát bụi.</p>
                <a href="https://tp-tech.vn/san-pham/thiet-bi-do-va-giam-sat-do-bui-pm2-5pm10/">
                    chi tiết tại đây
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Hệ thống ống dẫn nước</h3>
                <img src="~/Assets/thanh_phan_he_thong/ong.jpg" style="width:100%; height:100%;" alt="Service">
                <p class="text-left">
                    Ống sắt mạ kẽm là một trong các loại ống nước được sử dụng phổ biến, đặc biệt trong các hệ thống dẫn nước trong nông nghiệp và công nghiệp.
                </p>
                <a href="http://phucha.com/giai-phap-cho-chu-nha-1/chon-ong-nuoc-loai-nao-cho-nhu-cau-cua-ban.html"> chi tiết tại đây</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>PLC S7-1200</h3>
                <img src="~/Assets/thanh_phan_he_thong/plc.jpg" style="width:100%; height:100%;" alt="Service">
                <p class="text-left">Quan trọng nhất trong bộ điều khiển là con plc S7 1200 này, đây là trung tâm đầu não điều khiển toàn bộ hệ thống hoạt động.</p>
                <a href="https://www.tpnewtech.com/6ES7214-1HG40-0XB0?gclid=Cj0KCQiA3NX_BRDQARIsALA3fIIZhPcTQPfVxnoXwQeTmgHNGD-XC9XlS5l52TGlHchSxHY9Rs2FCAkaAhShEALw_wcB"> chi tiết tại đây</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>PEC áp xuất</h3>
                <img src="~/Assets/thanh_phan_he_thong/pec.jpg" style="width:270px; height:310px;" alt="Service">
                <p>Pec với 2 kiểu góc tỏa 180 độ dùng khi đặt giữa các tấm và loại góc tỏa 90 độ nằm ở các cạnh và ranh giới. Với áp xuất đẩy ra cao giúp cho các tấm pin được vệ sinh sạch hơn, nâng cao hiệu suất hoạt động của tấm pin</p>
                <a href="https://www.facebook.com/permalink.php?story_fbid=110463294322450&id=105537904814989"> chi tiết tại đây</a>

                @*<p>Lorem ipsum dolor sit amet elit pretium ornare</p>*@
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item">
                <h3>Online Marketing</h3>
                <img src="img/icon-service-8.png" style="width:100%; height:100%;" alt="Service">
                <p>Lorem ipsum dolor sit amet elit pretium ornare</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#5").addClass("active");
        });
    </script>
}