
@{
    ViewBag.Title = "DeTai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="text-align:center;">THÔNG TIN ĐỀ TÀI</h1>
    <div class="row">
        <div class="col-5 custome-link-menu-topic">
            <ol>
                <li>
                    <a href="#">MÔ PHỎNG</a>
                </li>
                <li>
                    <a href="#">DỮ LIỆU</a>
                </li>
                <li>
                    <a href="#">THÀNH PHẦN</a>
                </li>
                <li>
                    <a href="#">HƯỚNG DẪN</a>
                </li>
            </ol>
        </div>
        <div class="col-7"><img src="~/assets/images/_smarty/Logo HCMUTE-Corel-white background.jpg" class="img-about-topic"></div>
    </div>
</div>

