
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  
    <div class="video">
        <h1>NHÓM 10</h1>
        <p class="name-topic">
            MÔ HÌNH HỆ THỐNG VỆ SINH NHÀ MÁY ĐIỆN MẶT TRỜI TỰ ĐỘNG
        </p>
        <video class="control-video" controls>
            <source src="~/assets/video/gioi_thieu_he_thong.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div>
        <h1>asdasddsa</h1>
        <h1>asdasddsa</h1>
        <h1>asdasddsa</h1>
    </div>

</div>

